{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Liste des sorties{% endblock %}

{% block main %}

    {% if app.user %}
        <div class="app-connected-participant">
            Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('user_logout') }}">Déconnexion</a>
        </div>
    {% endif %}


    <h1>Filtrer les sorties</h1>
    <div>
        <p>Date du jour : {{ "now"| date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.username }}</p>
    </div>


    <form>
        <label class="form-label" for="campus">Campus : </label>
        <select name="campus" id="campus">
            <option value="0">Tous les campus</option>
            {% for c in campus %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>

        <label class="form-label" for="keywords">Le nom de la sortie contient : </label>
        <input class="form-field" type="text" id="keywords">

        <label class="form-label" for="startDate">Entre le : </label>
        <input class="form-field" type="date" id="startDate">

        <label class="form-label" for="endDate">Entre le : </label>
        <input class="form-field" type="date" id="endDate">

        <input type="checkbox" id="userIsOrganizer" name="userIsOrganizer" checked/>
        <label for="userIsOrganizer">Sorties dont je suis l'organisateur(trice)</label>

        <input type="checkbox" id="userIsRegistered" name="userIsRegistered" checked/>
        <label for="userIsRegistered">Sorties auxquelles je suis inscrit(e)</label>

        <input type="checkbox" id="userIsNotRegistered" name="userIsNotRegistered" checked/>
        <label for="userIsNotRegistered">Sorties auxquelles je suis inscrit(e)</label>

        <input type="checkbox" id="endedEvents" name="endedEvents" checked/>
        <label for="endedEvents">Sorties passées</label>

        <button class="app-btn" type="submit">Rechercher</button>
    </form>


    <table class="app-table">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clotûre</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>

        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.dateTimeStart | date("d/m/Y h:i") }}</td>
                <td>{{ event.dateEndInscription  | date("d/m/Y") }}</td>
                <td>{{ event.participants.count }} / {{ event.nbInscriptionsMax }}</td>
                <td>{{ event.state.label }}</td>

                {# TODO tester les inscriptions quand il y aura les fixtures correspondantes #}
                <td>
                    {% for p in event.participants %}
                        {% if app.user == p %}
                            X
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ event.organizer.userName }}</td>

                <td>

                    {% if app.user == event.organizer %}
                    {# TODO Ajouter les fonctionnalités et path modifier / publier #}
                    {% if event.state.label == "" %}
                        <a class="app-link" href="{{ path('main_home') }}">Modifier</a>
                        <a class="app-link" href="{{ path('main_home') }}">Publier</a>

                        {# TODO Ajouter condition sur date inscription et faire les fonctionnalités / path corrspondantes #}
                        <a class="app-link" href="{{ path('main_home') }}">Modifier</a>
                        <a class="app-link" href="{{ path('main_home') }}">Annuler</a>
                    {% endif %}

                    {# TODO Ajouter les fonctionnalités et path s'inscrire, se desister #}
                    {% for p in event.participants %}
                        {% if app.user == p %}
                            <a class="app-link" href="{{ path('main_home') }}">Se désister</a>
                        {% else %}
                            <a class="app-link" href="{{ path('main_home') }}">S'inscrire</a>
                        {% endif %}
                    {% endfor %}

                </td>
            </tr>
        {% endfor %}
    </table>

    {# TODO mettre le bon path et faire la class css#}
    <a class="app-btn-link" href="{{ path('main_home') }}">Créer une sortie</a>

{% endblock %}