{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}

    <h1 class="app-main-title"> {{ participant.userName }}</h1>

    {% if participant.pictureName != null %}
    <div>
        <img class="app-profile-picture app-framed" alt="Photo de profil de {{ participant.userName }}" src="{{asset('images/pictures/'~participant.pictureName)}}">
    </div>
    {% endif %}

    <div class="app-form-container app-profile-container app-framed">
        <p><span class="app-profile-label"> Prénom :</span> {{ participant.firstName }}</p><br>
        <p><span class="app-profile-label"> Nom :</span> {{ participant.name }}</p><br>
        <p><span class="app-profile-label"> Téléphone :</span> {{ participant.phone }}</p><br>
        <p><span class="app-profile-label"> Email :</span> {{ participant.mail }}</p><br>
        <p><span class="app-profile-label"> Campus :</span> {{ participant.campus.name }}</p><br>

    <div class="app-form-btn-container app-separate-btns">
        <button class="app-btn"><a class="app-btn-link" href="{{ path('main_home') }}">Retour</a></button>
        {% if participant.userName == app.user.username %}
            <button type="button" class="app-btn"><a class="app-btn-link"
                                     href="{{ path('participant_update',{id: participant.id}) }}">Modifier</a></button>
        {% endif %}

    </div>
    </div>

{% endblock %}
