{% extends 'layout.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}

    <h1> Profil de {{ participant.userName }} du campus de {{ participant.campus.name }}</h1>
    <p> Nom : {{ participant.name }}</p>
    <p> Prénom : {{ participant.firstName }}</p>
    <p> Mail : {{ participant.mail }}</p>
    <p> Téléphone : {{ participant.phone }}</p>


    {% if participant.userName == app.user.username %}
        <a class="app-btn app-btn-link" href="{{ path('participant_update',{id: participant.id}) }}">Modifier</a>
    {% endif %}



{% endblock %}

