{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Profil{% endblock %}

{% block main %}

    <h1 class="app-main-title"> Modification du profil de {{ participant.userName }}</h1>

    <div class="app-form-container app-framed">
        {% if participant.userName == app.user.username %}
            {{ form_start(participantForm) }}

            <p class="app-update-form-container"><span
                        class="app-profile-label"> {{ form_label(participantForm.userName) }}</span> {{ form_widget(participantForm.userName) }}
            </p><br>
            <p class="app-update-form-container"><span
                        class="app-profile-label"> {{ form_label(participantForm.name) }}</span> {{ form_widget(participantForm.name) }}
            </p><br>
            <p class="app-update-form-container"><span
                        class="app-profile-label"> {{ form_label(participantForm.firstName) }}</span> {{ form_widget(participantForm.firstName) }}
            </p><br>
            <p class="app-update-form-container"><span
                        class="app-profile-label"> {{ form_label(participantForm.phone) }}</span> {{ form_widget(participantForm.phone) }}
            </p><br>
            <p class="app-update-form-container"><span
                        class="app-profile-label"> {{ form_label(participantForm.mail) }}</span> {{ form_widget(participantForm.mail) }}
            </p><br>

            <p class="app-update-form-container truc"><span
                        class="app-profile-label"> {{ form_label(participantForm.pictureFile) }}</span> {{ form_widget(participantForm.pictureFile) }}
            </p><br>


            <fieldset class="app-fieldset app-update-fieldset">
                <legend><span
                            class="app-profile-label app-update-password"> {{ form_label(participantForm.password) }}</span>
                </legend> {{ form_widget(participantForm.password) }}
            </fieldset>
            <br>


            {# {{ form_widget(participantForm) }} #}
            <div class="app-form-btn-container">
                <button class="app-btn" type="submit">Modifier</button>
            </div>

            {{ form_end(participantForm) }}
        {% else %}
            <p>Vous ne pouvez modifier que votre profil ! </p>
        {% endif %}
    </div>
{% endblock %}
