{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Modifier les campus{% endblock %}

{% block main %}
    {% set namePlaceholder = campus.name %}
    <h1 class="app-main-title app-small-screen-display-none">Modifier le campus de {{ campus.name }}</h1>

    <div class="app-form-container app-framed">
        {{ form_start(campusForm) }}
        {{ form_widget(campusForm.name, {'attr': {'placeholder': namePlaceholder}, 'value' : campus.name}) }}
        <button type="subit" name="add" form="newCampusForm">Modifier</button>
        {{ form_end(campusForm) }}
    </div>

    <div class="app-form-btn-container app-separate-btns">
        <button class="app-btn app-return-btn" type="button"><a class="app-btn-link" href="{{ path('admin_campuses') }}">Retour</a></button>
    </div>
{% endblock %}